body {
  background-color: teal;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-size:  100px;
  margin: 25px;
}

.shaq {
  padding:  504x;
  display: block;
  margin: auto;
  width: 25em;
  height: 25em;
  transition-duration: 2.0s;
  border-radius: 50%;
}

.shaq:hover {
  transform: rotate(720deg) scale(3,0.5);
}

.boom {
  color: red;
}

.func {
  color: blueviolet;
}

.code {
  border-radius: 10px;
  background-color: whitesmoke;
  margin: auto;
  color: black;
  width: 60%;
  bottom: 10px;
  padding: 30px;
  text-align: left;
  line-height: 40px;
  transition-duration: 0.3s;
}

.code:hover {
  transform: scale(1.1,1.1) rotate(1deg);
}

.chart {
  width: 40%;
  margin: auto;
  padding: 100px;
  padding-top: 20px;
}

h3 {
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 20px; 
  font-size: 30px;
}

a {
  color: yellow;
}
